<%-include('.. /cabecalho.ejs')%>
    <h1>Alunos</h1>
    <div>
        <form action="" method="post">
            <input type="text" name="filtro" placeholder="Filtrar por nome">
            <button type="submit">Pesquisar</button>
        </form>
    </div>
    <table>
        <tr>
            <td>Nome</td>
            <td>Matricula</td>
            <td>Ações</td>
        </tr>
        <%for(const{id, nome, matricula} of Alunos){%>
            <tr>
                <td>
                    <%=nome%>
                </td>
                <td>
                    <%=matricula%>
                </td>
                <td>
                    <a href="/aluno/edit/<%=id%>">Editar</a>
                    <a href="/aluno/delete/<%=id%>">Excluir</a>
                </td>
            </tr>
            <%}%>
    </table>
    <%-include('.. /rodape.ejs')%>